
/*
  STYLE GUIDE STYLING
  Default styling for the style guide
  */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background:#e8e8e8;
  }
  body {
    font-family: 'PT Sans', Helvetica, sans-serif;
    letter-spacing: 0.015em;
  }

  li,a {
    text-decoration: none;
  }

  /*https://www.youtube.com/watch?v=cQ6YQ8K5MRw*/
  .header{
    height:100px;
    color:#000;
  }
  .logo{
    cursor: pointer;
    float: left;
    margin-top: 30px;
  }
  .menu{
    float: right;
    margin-top: 37px;
  }
  .menu a{
    color:#000;
    padding: 0 10px;
  }
  .show-menu-button, .hide-menu-button{
    transition: 0.3s;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  .show-menu-button{
    margin-top: 29px;
    float: right;
  }
  .menu a:hover, .show-menu-button:hover,
  .hide-menu-button:hover{
    color:red;
  }
  #check{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  @media screen and (max-width: 800px){
    .show-menu-button, .hide-menu-button{
      display: block;
      background: #e8e8e8;
    }
    .menu{
      /*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #e8e8e8;
      right: -100%;
      top:0;
      text-align: right;
      margin-top: 0;
      padding: 80px 0;
      line-height: normal;
      transition: 0.5s;
    }
    .menu a{
      display: block;
      padding: 25px;
      padding-right: 43px;
    }
    .hide-menu-button{
      position: absolute;
      top: 29px;
      right: 43px;
    }
    #check:checked ~ .menu{
      right:0;
    }
  }
  .nav-button {
    display: inline-block;
    color: white;
    border:0;
    background: #5588a3;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
  }
  .nav-button:hover {
    background: #000;
  }

  h1{
    color:#00334e;
    font-size:30px;
    letter-spacing: 0.05em;
  }

  div.header h2 {
    margin-top:2.5em;
    width:100%;
    padding-bottom:1em;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: #d8d8d8;
    color:#145374;
  }

h2{
   color:#145374;
   font-size:25px;

 }

 div.header3 {
  color:#5588a3;
  margin-top:3em;
}

h3{
  color:#5588a3;
  font-size:20px;
}

h4 {
  color:#87c0cd;
  font-size:15px;
}

p a{
  color:#145374;
  font-size:16px;
}

h2#intro{
   margin-top: 2em;
}
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}
@media screen and (min-width:50em){
.story{
display:flex;
}

.story div{

}

div .story1{
  width:100%;
}

div .story2{
  width:100%;
}
}

@media screen and (max-width:50em){
.story{
display:block;
}

.story div{

}

div .story1{
  width:100%;
}

div .story2{
  width:100%;
}

}


@media screen and (min-width:50em){
.new{
  display:flex;
  background-color:#0161ad;
  background-color:rgba(1, 97, 173, 0.1);
}

.new div{
  padding:32px;
}

.new_img{
  margin-left:15em;
}

.new_text{
  margin-right:15em;
}
}

@media screen and (max-width:50em){
.new{
  display:block;
  background-color:#0161ad;
  background-color:rgba(1, 97, 173, 0.1);
}

.new div{
  padding:32px;
}

.new_img{

}

.new_text{

}
}



.button-box{
  display: inline;
  margin-top:3em;

  padding-top:8px;
  padding-bottom:8px;

  margin-bottom:5em;

  color: white;
  background-color: #87c0cd;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;

width:100%;
font-size:1em;
}


.button-box:hover {
 background-color: #00334e;
}

.button-box:focus{
  color:#000;
}



.button-new2{
   color:#145374;
  margin-left:3em;
  text-decoration: none;
}


.button-new2:hover{
  color:black;
}

.button-new2:focus {
  color:#145374;

}


.button-new1{
   color:#145374;
}

.button-new1:hover{
  color:black;
}

.button-new1:focus {
  color:#145374;

}

footer{
  margin-top:5em;
}
address{
  padding-top:2em;
  padding-bottom:2em;
  background-color:rgba(1, 97, 173, 0.1);
  margin-top:5em;
  text-align:center;
  font-size: 1em;
  font-weight: bold;
}



.css-selector{
  width: 99%;
  margin-top:2em;
  margin-bottom:2em;
}
.css-selector h4{
  margin-top:0.5em;
  margin-bottom:0;
}
.css-selector p{
  margin-top: 0;
}
.sample-code{
  background-color: #d8d8d8;
  color: #000000;
  padding:1em;
}

.column-labels{
  display:flex;
  margin-bottom: 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #5588a3;
  margin-left: 0;
  width:100%;
}
.product{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #5588a3;
  margin-left: 0;
  width:100%;
}
.product-image img {
  max-width: 80%;
  height:auto;
}
.product-image{
  flex:3;
}
.product-details{
  flex:3;
}
.product-price{
  flex:2;
}
.product-quantity{
  flex:2;
}
.product-line-price{
  flex:2;
}
.product-removal{
  flex:1;
}

.quantity {
  position: relative;
}
/*https://stackoverflow.com/questions/5617703/background-color-in-input-and-text-fields*/
input, textarea {
  background-color : #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 40px;
  height: 30px;
  padding: 0;
  margin: 0;
  padding-left: 25px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.product-list{
  display:flex;
}
#Basic_Branding_Ideas{
  margin-top: 60px;
}

.totals{
margin-top:2em;

}


.totals-item{
  display: flex;
  justify-content: flex-end;
}

#cart-subtotal{
  padding-left: 80px;
}
#cart-gst{
  padding-left: 86px;
}
#cart-pst{
  padding-left: 86px;
}
#cart-shipping{
  padding-left: 80px;
}
.totals-item-total label{
  font-size: 20px;

  padding-top: 15px;
  padding-left: 30px;
}
#cart-total{
  font-size: 20px;

  padding-top: 15px;
  padding-left: 80px;
}
.proceed{
  padding-top: 15px;
  display:flex;
  justify-content: flex-end;
}


p a:hover{
  color:black;
}

p a:focus {
  color:#145374;
}

.button-sub {
  display: inline-block;
  padding: 0.5em;
  color: white;
  border:0;
  background-color: #5588a3;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-sub:hover {
 background-color: #00334e;
}

.button-sub:focus{
  color:#000;
}

div label{
  /*display:block;*/
  color:black;
}
div input#radio1{
  background-color:#00334e;
  margin:1em;
}

div input#radio2{
  background-color:#00334e;
  margin:1em;
}

div input#radio3{
  background-color:#00334e;
  margin:1em;
}
div input#radio4{
  background-color:#00334e;
  margin:1em;
}

div input#radio5{
  background-color:#00334e;
  margin:1em;
}
div input#radio6{
  background-color:#00334e;
  margin:1em;
}
.mag{
  width:100%;

}
.mag:hover{
  opacity: 0.5;

}

ol .num_list{
  display:block;
  margin:1em;
}

section .top1{
  margin-top: 2em;
}


#first-name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.5em;
  margin-bottom: 20px;
}

#first-name-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
  height: 2.5em;
}
#last-name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.7em;
  margin-bottom: 20px;
}
#last-name-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
  height: 2.7em;
}
#name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.5em;
  margin-bottom: 20px;
}

#name-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
  height: 2.5em;
}
#card-number-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.5em;
  margin-bottom: 20px;
}

#card-number-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
  height: 2.5em;
}
#expiry-date-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.5em;
  margin-bottom: 20px;
}

#expiry-date-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
  height: 2.5em;
}
#security-code-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.5em;
  margin-bottom: 20px;
}

#security-code-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
  height: 2.5em;
}

@media screen and (min-width:47em){

/*https://codepen.io/lihs/pen/MEvzxr*/
#first-name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
  height: 2.5em;
  margin-bottom: 20px;
}
#first-name-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
  height: 2.5em;
}
#last-name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
  height: 2.7em;
  margin-bottom: 20px;
}
#last-name-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
  height: 2.7em;
}
#name-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
  height: 2.5em;
  margin-bottom: 20px;
}
#name-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
  height: 2.5em;
}
#card-number-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
  height: 2.5em;
  margin-bottom: 20px;
}
#card-number-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
  height: 2.5em;
}
#expiry-date-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
  height: 2.5em;
  margin-bottom: 20px;
}
#expiry-date-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
  height: 2.5em;
}
#security-code-input[type="text"]{
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
  height: 2.5em;
  margin-bottom: 20px;
}
#security-code-input[type="text"]:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
  height: 2.5em;
}
}


@media screen and (max-width:47em){
.my-form textarea{
  padding-bottom: 50px;
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:100%;
}
.my-form textarea:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:100%;
}
}


@media screen and (min-width:47em){
.my-form textarea{
  padding-bottom: 50px;
  border: 1px solid #909090;
  display:block;
  opacity: 0.5;
  width:50%;
}
.my-form textarea:focus{
  outline: none;
  border: 2px solid #5588a3;
  color: #5588a3;
  width:50%;
}
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
.radiobutton{
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 16px;
}
.radiobutton input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radiobutton:hover input ~ .checkmark{
  background-color: #ccc;
}
.radiobutton input:checked ~ .checkmark{
  background-color: #5588a3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobutton input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #5588a3;
}
.bold p{
  font-weight: bold;
}

@media screen and (min-width:50em){
#bg{
  width:100%;
}
}

@media screen and (max-width:50em){
#bg{
  width:100%;
}
}


.intro{
 display:flex;

}

.cart{
 width:100%;

}
.intro div {
 padding-left:1em;
 width:100%;

}

@media screen and (min-width:61em){
  .hide{
   visibility: hidden;
   font-size:0;

   order:6;
 }



.cart1 {
  display:flex;
  border-top:1px #145374 solid;
  padding-top:1em;
  width:100%;

}


.cart1 div {
padding-left:3em;
padding-right:3em;
padding-top:1em;
padding-bottom:2em;
 width:100%;
}

.cart2 {
  display:flex;
  border-top:1px #145374 solid;
  width:100%;
  padding-top:1em;
}

.cart2 div {
  padding-left:3em;
padding-right:3em;
padding-top:1em;
padding-bottom:2em;
 width:100%;
}


.cart_img{
  display:flex;
  width:100%;
}


}

@media screen and (max-width:60em){
  .intro{
   visibility: hidden;
   font-size:0;
   padding-right:16px;

 }

 .cart1 {
   border-top:1px #145374 solid;

   display: block;
   margin-bottom:3em;
 }

 .cart div{
   width:100%;
 }

  .cart2 {
   display: block;
   border-top:1px #5588a3 solid;
   margin-bottom:3em;

 }


.cart_img{
  width:100%;
  padding-top:1em;
}

}




@media screen and (max-width:50em){
  .shop1{
    display:block;
  }

  .shop2{
    display:block;
  }

  .shop3{
    display:block;
  }

  .shop1 div{

  width:100%;
}

#shop{
    width:100%;
}

.shop2 div{

  width:100%;
}

.shop3 div{

  width:100%;
}

#shop{
  border-top: 2px #5588a3 solid;
  border-bottom: 2px #5588a3 solid;
  margin-bottom:2em;
}


}

@media screen and (min-width:51em){
  .shop1{
margin-top: 2em;
    display:flex;
  }

  .shop2{
    display:flex;
  }

  .shop3{
    display:flex;
  }

  .shop1 div{
  padding-left:50px;
  width:100%;
}


.shop2 div{
  padding:50px;
  width:100%;
}

.shop3 div{
  padding:50px;
  width:100%;
}

#shop{
  border-top: 2px #5588a3 solid;
  border-bottom: 2px #5588a3 solid;
  margin-bottom:2em;
}

}

.container1{
  display:flex;
}

.container1 div{

  padding:50px;
}

.container2{
  display:flex;
}

.container2 div{

  padding:50px;
}

.container3{
  display:flex;
}

.container3 div{

  padding:50px;
}



table{

 border-top:1px #5588a3 solid;
 border-bottom:1px #5588a3 solid;
 padding-top:1em;
 padding-bottom:1em;
 display:block;
 text-align:left;
}

.button-checkout{
 display:flex;
 padding-left:80em;
 margin-top:3em;
 margin-bottom:3em;
 float:right;
}



@media screen and (max-width:40em){
  table{


  }

  .button-checkout{
    display:flex;
    margin-top:3em;
    margin-bottom:3em;
    padding-left:380em;

  }
}
td{

  padding-left:6em;
}

tr{
  margin-top:3em;
}

.brand{
  margin-top: 6em;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}



figure img.color{
  border:1px black solid;

}

.colorpalettes  {
  display:flex;
  flex-wrap: wrap;
  width:100%;


}

.colorpalettes p{
  font-size:16px;
}

div.color{
  flex-grow:1;
  flex-basis: 10em;
}

@media screen and (max-width:40em){
  .colorpalettes  {
    display:block;

  }
}

div.art p {
  width:35%;
}

div.art img{
 max-width:50%;

}


@media screen and (max-width:60em){
  div.art p {
    width:100%;
  }
}

@media screen and (max-width:40em){
  div.art p {
    width:80%;
  }
}

div.payment1{
  padding:16px;
  padding-left: 0;
}

div.payment1 div{
  margin-bottom:1em;
}

div.payment1 div input{
  width:20em;
  height:2em;
}



#citations{
  margin-top:5em;
  background:#d8d8d8;
  padding-top:1em;
  padding-bottom:1em;
  padding-left:1em;
}

#citations a{
  color:#5588a3;
}

#citations a:hover{
  color:#00334e;
}
#citations ul{
  width:100%;
  padding-left:1em;
  list-style: none;
}

#citations li{
  display: block;
  padding-top: 0;
}
@media screen and (min-width:30em){
  #citations ul{
    width:90%;
  }
}
@media screen and (max-width: 670px) {

  .shopping-cart{
    margin: 0;
    padding-top: 20px;
  }

  .column-labels {
    display: none;
  }
  .product{
    padding-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(90,90,90);
    margin-left: 0;
    width:100%;
  }

#checkout-cart .product-image{
    display: none;
  }

  .product-price{
    display:none;
  }

  .product-details{
    flex:4;
  }
  .product-quantity{
    flex:2;
  }

  .quantity input {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    border: 1px solid #eee;
  }

  .product-line-price{
    flex:3;
  }
  .product-removal{
    flex:1;
  }

}
