
/*
  STYLE GUIDE STYLING
  Default styling for the style guide
  */

  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
     display: block;
   }

   ol, ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }

   *{
    box-sizing: border-box;
  }

  body {
    font-family: 'PT Sans', Helvetica, sans-serif;
    letter-spacing: 0.015em;
  }

  li,a {
    text-decoration: none;
  }

  ul li{
    display: inline;
  }

  ul li a{
    margin-left: 50px;
  }
  .overlay a:hover{
    opacity: 0.4;
    transition: .5s ease;
  }
  /*https://www.youtube.com/watch?v=cQ6YQ8K5MRw*/
  .header_nav{
    height:100px;
    color:#000;
    background-color: #fff;
    /*/*border: 1px solid #eee;*/*/
  }
  .logo{
    cursor: pointer;
    float: left;
    margin-top: 30px;
  }
  /*https://stackoverflow.com/questions/28966158/changing-image-depending-on-mobile-or-desktop-html-css*/
  .logo_big{
    display: block;
  }
  .logo_small{
    display: none;
  }
  .menu{
    float:right;
    margin-top: 37px;

  }
  .menu a{
    color:#999999;
    /*-left: 20px;*/
  }
  .show-menu-button, .hide-menu-button{
    transition: 0.3s;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  .show-menu-button{
    margin-top: 32px;
    float: right;
  }
  .menu a:hover, .show-menu-button:hover,
  .hide-menu-button:hover{
    color:#145374;
  }
  #check{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  @media screen and (max-width: 800px){
    .show-menu-button, .hide-menu-button{
      display: block;
    }
    .menu{
      /*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #e8e8e8;
      right: -100%;
      top:0;
      text-align: right;
      margin-top: 0;
      padding: 80px 0;
      line-height: normal;
      transition: 0.5s;
    }
    .menu a{
      display: block;
      padding: 25px;
      padding-right: 43px;
    }
    .hide-menu-button{
      position: absolute;
      top: 29px;
      right: 43px;
    }
    #check:checked ~ .menu{
      right:0;
    }
    .logo_big{
      display: none;
    }
    .logo_small{
      display:block;
    }
  }

  .nav-button {
    display: inline-block;
    color: white;
    border:0;
    background: #5588a3;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;

  }
  .nav-button:hover {
    background: #000;
  }


  .homepage_box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .homepage_box div{
    /*border: 1px solid #eee;*/
  }

  .homepage_title{
    flex:1.5;
  }
  .homepage_img{
    flex:2.95;
  }
  #home_page_img{
    max-width: 100%;
    height: auto;

  }


  h1{
    color:#000;
    font-size:30px;
    letter-spacing: 0.05em;
  }

  div.header h2 {
    margin-top:30px;
    width:100%;
    padding-bottom:1em;
    color:#145374;
  }

  h2{
   color:#145374;
   font-size:25px;

 }

 div.header3 {
  color:#5588a3;
  margin-top:30px;
}

h3{
  color:#5588a3;
  font-size:20px;
}
#story {
  margin-bottom: 70px;
}
#story h3{
  color:#000;
  margin-top: 15px;
  margin-bottom: 10px;
}
h4 {
  color:#87c0cd;
  font-size:15px;
}

p a{
  color:#999999;
}
p a:hover{
  color:#000;
  transition-duration: 0.3s;
}

h2#intro{
 margin-top: 2em;
}

.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width:768px){
  #story{
    margin-left:10%;
     margin-right:10%;
  }

  .story{
    display:flex;
  }

  .story div{

  }

  div .story1{
    margin-right:2%;
    width:100%;
  }

  div .story2{
    width:100%;
    margin-right:2%;
  }

  div .story3{
    width:100%;
  }

  .story_img1{
    width:100%;
  }
  .story_img2{
    width:100%;
  }
  .story_img3{
    width:100%;
  }
}





@media screen and (max-width:767px){
 #story{
    margin-left:10%;
     margin-right:10%;
  }

   .story{
    display:block;

  }

  .story div{
   width:100%;
  }

  div .story1{
    width:100%;
  }

  div .story2{
    width:100%;

  }

  div .story3{
    width:100%;
  }

  .story_img1{
    width:100%;
  }
  .story_img2{
    width:100%;
  }
  .story_img3{
    width:100%;
  }

}


@media screen and (min-width:769px){

.product1{
width:100%;
}

.product_box1{
  display:flex;

}


.product_box1 div{
 /*border: 1px solid #eee;*/

 width:100%;

}

.product_box1_1{
  width:100%;
  background-color:rgb(153,153,153,0.3);
  text-align: center;
  margin-right: 8%;
  flex:2.2;
}

.product_box1_2{
  line-height:190%;
  flex:1.3;
}

.product1_img{
  width:80%;
  padding: 5%;

}


.product_box2{
  display:flex;
  margin-top: 3%;
}

.product_box2 div{
 /*border: 1px solid #eee;*/

 width:100%;

}

.product_box2_1{
  width:100%;
  padding-top: 2%;
  line-height:190%;
  padding-right: 10%;
  text-align: justify;
}

.product2_img{
  width:100%;

}

}

@media screen and (max-width:768px){
.product1{
width:100%;
}

.product_box1{
  display:block;

}


.product_box1 div{
 /*border: 1px solid #eee;*/

 width:100%;

}

.product_box1_1{
  width:100%;
  background-color:rgba(1, 97, 173, 0.1);
  text-align: center;
  margin-right: 5%;
  flex:2;
}

.product_box1_2{
  line-height:190%;
  flex:1;
}

.product1_img{
  width:80%;
  padding: 5%;

}


.product_box2{
  display:block;
  margin-top: 10%;
}

.product_box2 div{
 /*border: 1px solid #eee;*/

 width:100%;

}

.product_box2_1{
  width:100%;
  padding-top: 2%;
  line-height:190%;
  padding-right: 10%;
  text-align: justify;
}

.product2_img{
  width:100%;

}

}

.button-box{
  display: inline;
  margin-top:3em;

  padding-top:8px;
  padding-bottom:8px;
  margin-bottom:5em;
  color: white;
  background-color: rgb(153,153,153,0.3);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;

  width:100%;
  font-size:1em;
}


.button-box:hover {
 background-color: #999999;
}

.button-box:focus{
  color:#000;
}



.button-new2{
 color:#145374;
 margin-left:3em;
 text-decoration: none;
 padding-bottom: 1em;
}


.button-new2:hover{
  color:black;
}

.button-new2:focus {
  color:#145374;

}


.button-new1{
 color:#145374;
 margin-bottom: 1em;
}

.button-new1:hover{
  color:black;
}

.button-new1:focus {
  color:#145374;

}





.css-selector{
  width: 99%;
  margin-top:2em;
  margin-bottom:2em;
}
.css-selector h4{
  margin-top:0.5em;
  margin-bottom:0;
}
.css-selector p{
  margin-top: 0;
}
.sample-code{
  background-color: #d8d8d8;
  color: #000000;
  padding:1em;
}

.column-labels{
  display:flex;
  margin-bottom: 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #5588a3;
  margin-left: 0;
  width:100%;
}
#checkout-cart{
  margin-top: 30px;
}
.product{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d8d8d8;
  margin-left: 0;
  width:100%;
}
.product-image img {
  max-width: 80%;
  height:auto;
}
.product-image{
  flex:3;
}
.product-details{
  flex:3;
}
.product-price{
  flex:1.5;
}
.product-quantity{
  flex:1;
}
.product-line-price{
  flex:1.5;
}

.quantity {
  position: relative;
}
/*https://stackoverflow.com/questions/5617703/background-color-in-input-and-text-fields*/
input, textarea {
  background-color : #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 40px;
  height: 30px;
  padding: 0;
  margin: 0;
  padding-left: 25px;
  /*border: 1px solid #eee;*/
}

.quantity input:focus {
  outline: 0;
}

.product-list{
  display:flex;
}
#Basic_Branding_Ideas{
  margin-top: 60px;
}

.totals{
  margin-top:2em;

}


.totals-item{
  display: flex;
  justify-content: flex-end;
}

#cart-subtotal{
  padding-left: 90px;
}
#cart-gst{
  padding-left: 101px;
}
#cart-pst{
  padding-left: 101px;
}
#cart-shipping{
  padding-left: 89px;
}
.totals-item-total label{
  font-size: 20px;
  padding-top: 15px;
}
#cart-total{
  font-size: 20px;

  padding-top: 15px;
  padding-left: 96px;
}
.proceed{
  padding-top: 15px;
  display:flex;
  justify-content: flex-end;
  font-size: 13pt;
}


p a:hover{
  color:black;
}

p a:focus {
  color:#145374;
}

.button-sub {
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border:0;
  background-color: rgb(153,153,153,0.5);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-sub:hover {
 background-color: #999999;
}

.button-sub:focus{
  background-color:#000;
}

div label{
  /*display:block;*/
  color:black;
}
div input#radio1{
  background-color:#00334e;
  margin:1em;
}

div input#radio2{
  background-color:#00334e;
  margin:1em;
}

div input#radio3{
  background-color:#00334e;
  margin:1em;
}
div input#radio4{
  background-color:#00334e;
  margin:1em;
}

div input#radio5{
  background-color:#00334e;
  margin:1em;
}
div input#radio6{
  background-color:#00334e;
  margin:1em;
}
.mag{
  width:100%;

}
.mag:hover{
  opacity: 0.5;

}

ol .num_list{
  display:block;
  margin:1em;
}

section .top1{
  margin-top: 2em;
}
.new-line{
  display: block;
}
.contact_submit_button a{
  width:100%;
  text-align: center;
}
#first-name-input[type="text"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2em;
  margin-bottom: 15px;
}

#first-name-input[type="text"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}
#last-name-input[type="text"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2em;
  margin-bottom: 15px;
}
#last-name-input[type="text"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}
#email-input[type="email"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2em;
  margin-bottom: 15px;
}

#email-input[type="email"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}
#name-input[type="text"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2.5em;
  margin-bottom: 20px;
}

#name-input[type="text"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}
#card-number-input[type="text"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2em;
  margin-bottom: 15px;
}

#card-number-input[type="text"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}
#expiry-date-input[type="text"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2em;
  margin-bottom: 15px;
}

#expiry-date-input[type="text"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}
#security-code-input[type="text"]{
  border: 1px solid #999999;
  display:block;
  opacity: 0.5;
  width:100%;
  height: 2em;
  margin-bottom: 15px;
}

#security-code-input[type="text"]:focus{
  outline: none;
  border: 1px solid #145374;
  width:100%;
  height: 2em;
}

@media screen and (min-width:47em){
  .contact_submit_button{
    width:15%;
    margin-top: 15px;
    text-align: center;
  }
  /*https://codepen.io/lihs/pen/MEvzxr*/
  #first-name-input[type="text"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #first-name-input[type="text"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
  #last-name-input[type="text"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #last-name-input[type="text"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
  #email-input[type="email"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #email-input[type="email"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
  #name-input[type="text"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #name-input[type="text"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
  #card-number-input[type="text"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #card-number-input[type="text"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
  #expiry-date-input[type="text"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #expiry-date-input[type="text"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
  #security-code-input[type="text"]{
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
    height: 2em;
    margin-bottom: 15px;
  }
  #security-code-input[type="text"]:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
    height: 2em;
  }
}


@media screen and (max-width:47em){
  .my-form textarea{
    padding-bottom: 50px;
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:100%;
  }
  .my-form textarea:focus{
    outline: none;
    border: 1px solid #145374;
    width:100%;
  }
}


@media screen and (min-width:47em){
  .my-form textarea{
    padding-bottom: 100px;
    border: 1px solid #999999;
    display:block;
    opacity: 0.5;
    width:80%;
  }
  .my-form textarea:focus{
    outline: none;
    border: 1px solid #145374;
    width:80%;
  }
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
.radiobutton{
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 16px;
}
.radiobutton input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radiobutton:hover input ~ .checkmark{
  background-color: #ccc;
}
.radiobutton input:checked ~ .checkmark{
  background-color: #5588a3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobutton input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5588a3;
}
.bold p{
  font-weight: bold;
}

@media screen and (min-width:50em){
  #bg{
    width:100%;
  }
}

@media screen and (max-width:50em){
  #bg{
    width:100%;
  }
}


.intro{
 display:flex;

}

.cart{
 width:100%;

}
.intro div {
 padding-left:1em;
 width:100%;

}

@media screen and (min-width:61em){
  .hide{
   visibility: hidden;
   font-size:0;

   order:6;
 }



 .cart1 {
  display:flex;
  border-top:1px #145374 solid;
  padding-top:1em;
  width:100%;

}


.cart1 div {
  padding-left:3em;
  padding-right:3em;
  padding-top:1em;
  padding-bottom:2em;
  width:100%;
}

.cart2 {
  display:flex;
  border-top:1px #145374 solid;
  width:100%;
  padding-top:1em;
}

.cart2 div {
  padding-left:3em;
  padding-right:3em;
  padding-top:1em;
  padding-bottom:2em;
  width:100%;
}


.cart_img{
  display:flex;
  width:100%;
}


}

@media screen and (max-width:60em){
  .intro{
   visibility: hidden;
   font-size:0;
   padding-right:16px;

 }

 .cart1 {
   border-top:1px #145374 solid;

   display: block;
   margin-bottom:3em;
 }

 .cart div{
   width:100%;
 }

 .cart2 {
   display: block;
   border-top:1px #5588a3 solid;
   margin-bottom:3em;

 }


 .cart_img{
  width:100%;
  padding-top:1em;
}

}




@media screen and (max-width:767px){
  .shop1{
    display:block;
    margin-top: 20px;
  }

  .shop2{
    display:block;
  }

  .shop3{
    display:block;
  }

  .shop1 div{
    width:100%;
    margin-bottom:10%;
  }

  .shop2 div{
    width:100%;
    margin-bottom:10%;
  }

  .shop3 div{
    width:100%;
    margin-bottom:10%;
  }

  #shop{
    margin-bottom:2em;
  }

  .shop_img{
    width:100%;
  }
}



@media screen and (min-width:768px){

  .shop1{
    margin-top: 2em;
    display:flex;
    width:100%;
  }

  .box1{
   margin-right:2%;

   width:100%;
 }

 .box2{
   margin-right:2%;

   width:100%;
 }

 .box3{
   width:100%;

 }

 .shop2{
  display:flex;
  margin-top:2%;
  width:100%;
}

.shop3{
  display:flex;
  margin-top:2%;
  width:100%;
}



.shop1 div{

  width:100%;

}

.shop2 div{
  width:100%;


}

.shop3 div{
  width:100%;

}

.shop_img{
  width:100%;



}



}

.container1{
  display:flex;
}

.container1 div{

  padding:50px;
}

.container2{
  display:flex;
}

.container2 div{

  padding:50px;
}

.container3{
  display:flex;
}

.container3 div{

  padding:50px;
}



table{

 border-top:1px #5588a3 solid;
 border-bottom:1px #5588a3 solid;
 padding-top:1em;
 padding-bottom:1em;
 display:block;
 text-align:left;
}

.button-checkout{
 display:flex;
 padding-left:80em;
 margin-top:3em;
 margin-bottom:3em;
 float:right;
}

.payment_title{
  margin-bottom: 10px;
}

@media screen and (max-width:40em){
  table{


  }

  .button-checkout{
    display:flex;
    margin-top:3em;
    margin-bottom:3em;
    padding-left:380em;

  }
}
td{

  padding-left:6em;
}

tr{
  margin-top:3em;
}

.brand{
  margin-top: 6em;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}



figure img.color{
  border:1px black solid;

}

.colorpalettes  {
  display:flex;
  flex-wrap: wrap;
  width:100%;


}

.colorpalettes p{
  font-size:16px;
}

div.color{
  flex-grow:1;
  flex-basis: 10em;
}

@media screen and (max-width:40em){
  .colorpalettes  {
    display:block;

  }
}

div.art p {
  width:35%;
}

div.art img{
 max-width:50%;

}


@media screen and (max-width:60em){
  div.art p {
    width:100%;
  }
}

@media screen and (max-width:40em){
  div.art p {
    width:80%;
  }
}

.contact_box{
  display:flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact_box1{
  flex:2;
}
.contact_box2{
  flex:1;
}
.contact_address{
  margin-top: 30px;
  font-size: 10pt;
}
.contact_email{
  margin-top: 30px;
  font-size: 10pt;
}

.checkout_box{
  display:flex;
  justify-content: flex-start;
}
.cart_review_title{
  margin-bottom: 30px;
}
.checkout_cart_review_box{
  display:flex;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color:#999999;
  margin-left: 0;
}
.checkout_cart_review_box1{
  flex:4;
}
.checkout_cart_review_box2{
  flex:2;
}
.checkout_cart_review_box3{
  flex:1;
}
.checkout_cart_review_box4{
  flex:1;
}
#shop p{
  color:#999999;
}
#shop a p:hover{
  color:#145374;
}
#citations{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  margin-top:30px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 0.9em;
}

#citations a{
  color:#999999;
}

#citations a:hover{
  color:#145374;
}

.footer_box{
  display:flex;
  justify-content: flex-start;
}
.footer_box1{
  flex:1.07;
  font-size: 8pt;
}
.footer_box2{
  flex:1.07;
}
.footer_box3{
  flex:1;
}
.footer_logo{
  margin-top: 70px;
}
.footer_social_media_logo{
  margin-top: 50px;
  cursor:pointer;
}
.contact_social_media_logo{
  margin-top: 50px;
  cursor:pointer;
  color:#999999;
}

.contact_social_media_logo a:hover{
  color:#145374;
}
@media screen and (min-width:30em){
  #citations ul{
    width:90%;
  }
}
@media screen and (max-width: 670px) {

  .shopping-cart{
    margin: 0;
    padding-top: 20px;
  }

  .column-labels {
    display: none;
  }
  .product{
    padding-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color:#999999;
    margin-left: 0;
    width:100%;
  }

  #checkout-cart .product-image{
    display: none;
  }

  .product-price{
    display:none;
  }

  .product-details{
    flex:5;
  }
  .product-quantity{
    flex:2;
  }

  .quantity input {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    /*border: 1px solid #eee;*/
  }

  .product-line-price{
    flex:3;
  }
  .product-removal{
    flex:1;
  }

}


.about{
  display:flex;
  text-align:justify;
}

.about div{
 /*border: 1px solid #eee;*/
 width:100%;
}

.about_text{
  padding-right: 2%;
}

.about_img{
  width:100%;

}

#about_img1{
 width:100%;
}

#about_img2{
 width:100%;
 margin-top:2%;
}

#intro{
  font-size:1.5em;
  margin-bottom:1em;
  margin-top:1em;
}

#our_story{

  font-size:1.1em;
  line-height:2em;
}

@media screen and (max-width:767px){
  #intro{
    font-size:1.3em;
    margin-bottom:1em;
    margin-top:1em;
    line-height:1.3em;
  }

  #our_story{
    font-size:0.9em;
  }
}
#event{
  margin-top: 30px;
}
.event1{
  display:flex;
  width:100%;
  margin-top: 30px;
  margin-bottom: 2%;
}
.event1_box1{
  flex:2.05;
  margin-bottom:15px;
}
.event1_box2{
  flex:1;
}
.event2{
  display:flex;
  width:100%;

}

.event1 div{
 /*border: 1px solid #eee;*/
 width:100%;

}

.event2 div{
 /*border: 1px solid #eee;*/
 width:100%;
}

.event1_img{
  width:100%;
  padding-right: 4%

}

.event2_img{
  width:100%;
  padding-right: 4%

}

.event_title{
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 20px;
}

.event_text{
  margin-top: 20px;
  font-size: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width:780px){
  .homepage_box{
    display:block;
  }
  .homepage_title{
    margin-top: 0;
  }
  .event1{
    display:block;
  }
  .event2{
    display:block;
  }
  .footer_box{
    display:block;
  }
  .contact_box{
    display:block;
  }
  .contact_box2{
    margin-top: 30px;
  }
  .contact_social_media_logo{
    margin-top:30px;
  }
  .footer_logo{
    margin-top: 30px;
  }
  .footer_social_media_logo{
    margin-top: 20px;
  }
  .footer_mobile_logo{
    margin-top:30px;
  }
}
